footer{
    border-top: 1px solid #006aff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 0.5em;
    font-family: "Numans", serif;
    background-color: #171717;
    color: white;
    gap: 1em;

    a{
        color: white;
        text-decoration: none;
    }
}